@chareset"UTF-8";

body{
  background-color: #eecc99;}

#main{
width: 798px;
margin: 40px auto;
padding: 40px 80px;
border: yellow 1px solid;
background-color: white;
}

.photo{
  float: left;
  margin-right: 30px;
}
.bird-pic{
  content: "";
  clear: both;
  display: block;
}

.explanation{
  float: left;
}
dt{
  clear: left;
  float: left;
  font-weight: bold:
}

.btn{
  clear: left;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  margin: 8px;
  width: 120px;
  height: 35px;
  padding: 5px;
  font-size: 20;
  font-weight: bold:
}

.btn:hover{
  opacity: 1.5;
}
.btn:active{
  color:white;
}
.btn-submit{
  background-color: lightblue;
}

.btn-reset{
  background-color: gray;
}
